{% extends 'base.html' %}
{% block title %}
    Artificial Neural Network - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Artificial Neural Network (ANN)</h1>
    <div class="dropdown">
     <button class="dropbtn">Variable1</button>
     <div class="dropdown-content">
       <a href="https://plot.ly/~PythonPlotBot/27" target="iframe_a">1</a>
       <a href="https://plot.ly/~PythonPlotBot/2068" target="iframe_a">0.1</a>
       <a href="https://plot.ly/~PythonPlotBot/2084" target="iframe_a">0.01</a>
     </div>
    </div>
    <iframe name="iframe_a" class="iframe"></iframe>
{% endblock content %}
