{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    LASSO Lars - {{ block.super }}
{% endblock title %}
    

{% block content %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Visualization</title>
    <link rel="stylesheet" href="{% static 'css/scatter.css' %}" />
  </head>
  <body>
    <div id="scatter"></div>
    <select id="inds">
      <option value="Density (kg/m Experimental)" selected="selected">Density (kg/m Experimental)</option>
      <option value="Pressure (kPa)">Pressure (kPa)</option>
      <option value="Temperature (K)">Temperature (K)</option>
    </select>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="{% static 'js/scatter.js' %}"></script>
  </body>
</html>
{% endblock content %}
