body {
    font-family: "Helvetica";
    background-color: white
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 a {
    text-decoration: none;
}

img {
    width:250px;
    height:300px;
}

.col-container {
     display: table;
     width: 100%
}

.col {
    display: table-cell;
}

.dropbtn {
    font-family: "Helvetica";
    background-color: #4CAF50;
    color: white;
    padding: 16px 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    padding: 20px 40px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.iframe {
    margin: 0px 200px;
    height: 400px;
    width: 60%;
}
